# Realm of Agents submodules
[submodule "purpose-driven-agent"]
	path = agents/purpose-driven-agent
	url = https://github.com/ASISaga/purpose-driven-agent

[submodule "leadership-agent"]
	path = agents/leadership-agent
	url = https://github.com/ASISaga/leadership-agent

[submodule "FineTunedLLM"]
	path = RealmOfAgents/FineTunedLLM
	url = https://github.com/ASISaga/FineTunedLLM

[submodule "SelfLearningAgent"]
	path = RealmOfAgents/SelfLearningAgent
	url = https://github.com/ASISaga/SelfLearningAgent

[submodule "PossibilityAgent"]
	path = RealmOfAgents/PossibilityAgent
	url = https://github.com/ASISaga/PossibilityAgent

[submodule "PurposeDrivenAgent"]
	path = RealmOfAgents/PurposeDrivenAgent
	url = https://github.com/ASISaga/PurposeDrivenAgent

[submodule "GitHubAgent"]
	path = RealmOfAgents/GitHubAgent
	url = https://github.com/ASISaga/GitHubAgent

[submodule "LeadershipAgent"]
	path = RealmOfAgents/LeadershipAgent
	url = https://github.com/ASISaga/LeadershipAgent

[submodule "Seeker"]
	path = RealmOfAgents/Seeker
	url = https://github.com/ASISaga/Seeker

[submodule "Poet"]
	path = RealmOfAgents/Poet
	url = https://github.com/ASISaga/Poet
